<a href="https://colab.research.google.com/github/rlaecio/python_collections_I/blob/main/Introdu%C3%A7%C3%A3o_a_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [30]:
idades = [39, 30, 27, 18]

In [7]:
type(idades)

list

In [8]:
len(idades)

4

In [9]:
idades[0]

39

In [10]:
idades

[39, 30, 27, 18]

In [13]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [31]:
idades.append(15)

In [15]:
idades

[39, 30, 27, 18, 15]

In [16]:
idades[5]

IndexError: ignored

In [17]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [18]:
idades.remove(30)

In [19]:
idades.remove(30)

ValueError: ignored

In [20]:
idades.append(15)

In [21]:
idades

[39, 27, 18, 15, 15]

In [22]:
idades.remove(15)

In [23]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [26]:
idades.clear()

In [27]:

idades

[]

In [28]:
28 in idades

False

In [32]:
15 in idades

True

In [33]:
idades.insert(0,43)

In [34]:
idades.append([27, 29])

In [35]:
idades

[43, 39, 30, 27, 18, 15, [27, 29]]

In [36]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 43
Recebi o elemento 39
Recebi o elemento 30
Recebi o elemento 27
Recebi o elemento 18
Recebi o elemento 15
Recebi o elemento [27, 29]

In [42]:
idades = [43, 39, 30, 27, 18, 15]
idades.extend([27, 29])
idades

[43, 39, 30, 27, 18, 15, 27, 29]

In [43]:
for idade in idades:
  print(idade +1)

44
40
31
28
19
16
28
30

In [46]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[44, 40, 31, 28, 19, 16, 28, 30]

In [48]:
idades_no_ano_que_vem = [(idade + 1) for idade in idades]
idades_no_ano_que_vem

[44, 40, 31, 28, 19, 16, 28, 30]

In [49]:
[(idade) for idade in idades if idade >21]

[43, 39, 30, 27, 27, 29]

In [50]:
idades

[43, 39, 30, 27, 18, 15, 27, 29]

In [52]:
def proximo_ano(idade):
  return idade+1
[proximo_ano(idade) for idade in idades if idade > 25]

[44, 40, 31, 28, 28, 30]

In [55]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [56]:
idades = [16,21,29,56,43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [83]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [84]:
faz_processamento_de_visualizacao()

0
[]

In [85]:
faz_processamento_de_visualizacao()

0
[]

In [86]:
faz_processamento_de_visualizacao()

0
[]

In [87]:
faz_processamento_de_visualizacao()

0
[]

In [88]:
faz_processamento_de_visualizacao()

0
[]

#Objetos próprios

In [89]:
class ConstaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "(codigo {} Saldo {})".format(self.codigo, self.saldo)

In [90]:
conta_do_gui = ConstaCorrente(15)
print(conta_do_gui)

(codigo 15 Saldo 0)

In [91]:
conta_do_gui.deposita(500)
print(conta_do_gui)

(codigo 15 Saldo 500)

In [93]:
conta_da_dane = ConstaCorrente(47685)
conta_da_dane.deposita(10000)
print(conta_da_dane)

(codigo 47685 Saldo 10000)

In [96]:
contas = [conta_da_dane, conta_do_gui]
for conta in contas:
  print(conta)

(codigo 47685 Saldo 10000)
(codigo 15 Saldo 500)

In [101]:
contas = [conta_da_dane, conta_do_gui, conta_da_dane]
print(contas[0])
print(contas[2])

(codigo 47685 Saldo 10000)
(codigo 47685 Saldo 10000)

In [102]:
contas[2].deposita(500)

In [103]:
print(contas[0])

(codigo 47685 Saldo 10500)

In [105]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)
contas = [conta_do_gui, conta_da_dane]
print(contas[0], contas[1])

deposita_para_todas(contas)
print(contas[0], contas[1])

(codigo 15 Saldo 500) (codigo 47685 Saldo 10500)
(codigo 15 Saldo 600) (codigo 47685 Saldo 10600)

In [106]:
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)

In [107]:
daniela

('Daniela', 31, 1987)

In [108]:
type(daniela)

tuple

In [109]:
guilherme.append(345)

AttributeError: ignored

In [110]:
conta_do_gui

In [111]:
type(conta_do_gui)

__main__.ConstaCorrente

In [115]:
usuarios = [ guilherme, daniela ]

In [118]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [117]:
usuarios.append(('Paulo', 39, 1979))

In [119]:
usuarios[0]

('Guilherme', 37, 1981)

In [122]:
conta_do_gui = ConstaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dane = ConstaCorrente(1000)
conta_da_dane.deposita(1000)

contas = (conta_do_gui, conta_da_dane)

In [125]:
for conta in contas:
  print(conta)

(codigo 15 Saldo 500)
(codigo 1000 Saldo 1000)

In [126]:
contas[0].deposita(300)

In [127]:
for conta in contas:
  print(conta)

(codigo 15 Saldo 800)
(codigo 1000 Saldo 1000)

# Herança e polimorfismo

In [153]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "(codigo {} Saldo {})".format(self._codigo, self._saldo)

In [185]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [139]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

(codigo 16 Saldo 998)

In [155]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

conta18 = ContaInvestimento(18)

(codigo 17 Saldo 1007.0)

In [141]:
contas = [conta16, conta17]

In [142]:
contas

[<__main__.ContaCorrente at 0x7fa947de45f8>,
 <__main__.ContaPoupanca at 0x7fa947de4da0>]

In [146]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

(codigo 16 Saldo 998)
(codigo 17 Saldo 1007.0)

# array,  evitaremos usar.

In [147]:
import array as arr
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

#evitamos de usar array puro. se precisamos de trabalho numerico, é costume usar numpy

In [149]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.5)

In [150]:
import numpy as np
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [151]:
numeros + 3

array([4. , 6.5])

In [176]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [171]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0 <<]

In [172]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0 <<]

In [173]:
conta1 == conta2

True

In [174]:
conta1 == conta2

True

In [177]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [178]:
conta1.deposita(100)

In [179]:
conta1 == conta2

False

In [180]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [181]:
conta4 = ContaPoupanca(37)
conta5 = ContaCorrente(37)
conta4 == conta5

False

In [182]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [186]:
isinstance(ContaCorrente(34), Conta)

True

In [193]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [195]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

In [197]:
enumerate(idades)

In [198]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [201]:
for valor in enumerate(idades):
  print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [202]:
for indice, idade in enumerate(idades): #unpacking 
  print(indice, "X", idade)

0 X 15
1 X 87
2 X 32
3 X 65
4 X 56
5 X 32
6 X 49
7 X 37

In [203]:
usuarios = [
      ("Guilherme", 37, 1981),
      ("Daniela", 31, 1987),
      ("Paulo", 39, 1979)
]

for usuario in usuarios:
  print(usuario)

('Guilherme', 37, 1981)
('Daniela', 31, 1987)
('Paulo', 39, 1979)

In [204]:
for nome, idade, nascimento in usuarios: #ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [205]:
for nome, _, _ in usuarios: #ja desempacotando ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

#Ordenação básica( ordem natural)

In [207]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [208]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [210]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [211]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [212]:
idades.sort()
idades

[15, 32, 32, 37, 49, 56, 65, 87]

#Ordenando objetos (ordenação customizada)

In [213]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [214]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]
[>>Codigo 133 Saldo 510 <<]

In [217]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

In [218]:
from operator import attrgetter
for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

In [219]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [222]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [223]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [224]:
conta_do_guilherme > conta_da_daniela

False

In [225]:
conta_do_guilherme < conta_da_daniela

True

In [226]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

#Ordenação Total

In [227]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [228]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [232]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [235]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [236]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [237]:
conta_do_guilherme < conta_da_daniela

True

In [238]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [239]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [249]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [250]:
conta_do_guilherme <= conta_da_daniela

True

In [251]:
conta_do_guilherme > conta_da_daniela

False

In [252]:
conta_do_guilherme == conta_da_daniela

False

In [253]:
conta_do_guilherme >= conta_da_daniela

False